<!-- White with black text -->
<nav th:fragment = "DarkNavBar" class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
	<a class="nav-link" href="@{/}">Main</a>
	</li>
    <li class="nav-item">
      <a class="nav-link" href="@{/Movie/listAllMovies}">List All Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@{/Movie/addMovie}">Add a Movie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@{/Movie/searchForAMovie}">Search for a Movie</a>
    </li>
	<li class="nav-item">
      <a class="nav-link" href="@{/academyAward/findaward}">Get Academy Award</a>
    </li>
  </ul>
</nav>
