<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>search actor form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <nav th:replace = "NavBarDark :: DarkNavBar"></nav>
</head>
<body>
<div class="container">
    <div class="alert alert-info alert-dismissible fade show" th:if="${message}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p th:text="${message}"></p>
    </div>
    <form>
        <div class="card">
            <div class="card-header">
                Enter the name of the actor
            </div>

            <div class="card-body">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Person</span>
                        </div>
                        <input type="text" class="form-control" placeholder="First Name" name="actorFirstName">
                        <input type="text" class="form-control" placeholder="Last Name" name="actorLastName">
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary" formaction="/academyAward/searchActor">submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>